* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(234, 249, 244);
}

.top-conatiner {
    display: flex;
    background-color: rgb(245, 238, 238);
    height: 90px;
}

.top-nav img {
    width: 190px;
    height: 50px;
    margin-left: 10px;
}

.top-nav {
    display: flex;
    padding: 23px;
    height: 40px;
}

.top-nav li {
    background-color: rgb(245, 238, 238);
    margin-left: 19px;
    padding: 5px;
    margin-top: 10px;
}

.top-nav li a {
    color: black;
    font-size: larger;
    font-weight: 700;
}


/* --------------heading---------- */
.heading {
    text-align: center;
    margin-top: 14px;
}


/* -------right---------navbar------- */

/* 
.signin button{
    background-color: red;
    width: 80px;
    height: 40px;

}
.signin img{
    margin-top: 35px;
    height: 30px;
} */

/* -----------------------middle-------------- */


.mid-container {
    background-color:#f9f9f9;
    height: 650px;
    margin-top: 20px;
    display: flex;
}

.logo img {
    width: 80px;
    margin-top: 160px;
    margin-left: 20px;
}

.mid-right img {
    width: 440px;
    margin-left: 380px;
    margin-top: 140px;
}

.logo h1 {
    color: black;
    margin-left: 20px;
    font-size: 50px;
    margin-top: 50px;
    font-weight: bold;
}

.logo p {
    font-weight: bold;
    margin-left: 20px;
    font-size: 23px;
    margin-top: 18px;
}

.logo button {
    margin-left: 20px;
    margin-top: 40px;
    height: 40px;
    width: 230px;
}

.download {
    background-color: black;
    color: #fff;
    height: 20px;
    padding: 12px;
    border-radius: 30px;
}

.download a {
    color: #fff;
}

.download a:hover {
    color: black;
    background-color: #fff;
}

.download:hover {
    background-color: #fff;
    color: black;
}


/* -----------------recharge section ------------------ */


.mid2-container {
    background-color: #9e90f0;
    height: 400px;
}

.mid2-container h1 {
    margin-left: 20px;
    padding-top: 40px;
    color: #FFF;
}

.Recharge-section {
    display: flex;

}

.Recharge-section img {
    padding: 18px;
    width: 70px;
    margin-left: 25px;
}

.Recharge-section h3 {
    margin-left: 46px;
}

.mid-cont-img {
    background-color: blue;
    margin-left: 30px;
    width: 147px;
    height: 200px;
    margin-top: 60px;
    border-radius: 8px;

}



.mid-cont-img:hover {
    background-color: black;

}


/* ------------booking section-------------- */


.mid3-container {
    background-color: #291b75;
    height: 400px;
}

.mid3-container h1 {
    margin-left: 20px;
    padding-top: 40px;
    color: #FFF;
}

.booking-section {
    display: flex;

}

.booking-section img {
    padding: 18px;
    width: 70px;
    margin-left: 25px;
}

.booking-section h3 {
    margin-left: 46px;
}

.mid-cont-img {
    background-color: #e2e2e2;
    margin-left: 30px;
    width: 147px;
    height: 200px;
    margin-top: 60px;
    border-radius: 8px;

}

.mid-cont-img:hover {
    background-color: black;

}




/* -------------payment instrument----------- */

.mid4-container {
    background-color:#f9f9f9;
    height: 650px;
    width: 1215px;
    margin-top: 20px;
    display: flex;
    margin-left: 30px;
}

.wallet-logo img {
    width: 80px;
    margin-top: 100px;
    margin-left: 90px;
}

.mid1-right img {
    width: 440px;
    margin-left: 380px;
    margin-top: 140px;
    margin-right: 90px;
}

.wallet-logo h1 {
    color: black;
    margin-left: 90px;
    font-size: x-large;
    margin-top: 30px;
    font-weight: 800;
}

.wallet-logo h3 {
    font-weight: bold;
    margin-left: 90px;
    font-size: 18px;
    margin-top: 18px;
}

.wallet-logo button {
    margin-left: 90px;
    margin-top: 40px;
    height: 40px;
    width: 230px;
}


.download2 {
    background-color: black;
    color: #fff;
    height: 20px;
    padding: 12px;
    border-radius: 30px;
}

.download2 a {
    color: #fff;
}

.download2 a:hover {
    color: black;
    background-color: #fff;
}

.download2:hover {
    background-color: #fff;
    color: black;
}

.heading1 {
    margin-left: 50px;
    margin-top: 90px;
    margin-bottom: 40px;
    font-size: 27px;
}



/* ----------------upi section ----------------- */


.mid5-container {
    background-color:#f9f9f9;
    height: 650px;
    width: 1215px;
    margin-top: 50px;
    display: flex;
    margin-left: 30px;
}

.upi-logo img {
    width: 80px;
    margin-top: 100px;
    margin-left: 90px;
}

.mid2-right img {
    width: 440px;
    margin-left: 380px;
    margin-top: 140px;
    margin-right: 90px;
}

.upi-logo h1 {
    color: black;
    margin-left: 90px;
    font-size: x-large;
    margin-top: 30px;
    font-weight: 800;
}

.upi-logo h3 {
    font-weight: bold;
    margin-left: 90px;
    font-size: 18px;
    margin-top: 18px;
}

.upi-logo p {
    font-size: 16px;
    margin-left: 78px;
    margin-top: 10px;
    font-weight: 800;
}

.upi-logo button {
    margin-left: 90px;
    margin-top: 40px;
    height: 40px;
    width: 230px;
}


.download3 {
    background-color: black;
    color: #fff;
    height: 20px;
    padding: 12px;
    border-radius: 30px;
}

.download3 a {
    color: #fff;
}

.download3 a:hover {
    color: black;
    background-color: #fff;
}

.download3:hover {
    background-color: #fff;
    color: black;
}


/* ----------------postpaid section ------------------ */



.mid6-container {
    background-color:#f9f9f9;
    height: 650px;
    width: 1215px;
    margin-top: 50px;
    display: flex;
    margin-left: 30px;
}

.postpaid-logo img {
    width: 160px;
    margin-top: 100px;
    margin-left: 90px;
}

.mid3-right img {
    width: 370px;
    margin-left: 380px;
    margin-top: 140px;
    float: right;
    margin-right: 90px;
}

.postpaid-logo h1 {
    color: black;
    margin-left: 90px;
    font-size: xx-large;
    margin-top: 30px;
    font-weight: 800;
}

.postpaid-logo h3 {
    font-weight: bold;
    margin-left: 90px;
    font-size: 18px;
    margin-top: 18px;
}

.postpaid-logo p {
    font-size: 16px;
    margin-left: 90px;
    margin-top: 10px;
    font-weight: 800;
}

.postpaid-logo button {
    margin-left: 90px;
    margin-top: 40px;
    height: 40px;
    width: 230px;
}


.learn-more {
    background-color: rgb(133, 94, 196);
    color: #fff;
    height: 20px;
    padding: 12px;
    border-radius: 30px;
}

.learn-more a {
    color: #fff;
}

.learn-more a:hover {
    background-color: #fff;
}

.learn-more:hover {
    background-color: rgb(141, 27, 240);
    color: rgb(243, 241, 247);
}



/* ---------------- paytm bank 1----------------- */


.mid7-container {
    background-color:#f9f9f9;
    margin-top: 50px;
    display: flex;
    margin-left: 30px;
}

.left-container {
    margin-left: 30px;
    background-color: #f9f9f9;
    height: 700px;
    border-radius: 8px;
    width: 550px;
}

.bank1-logo img {
    width: 200px;
    margin-left: 40px;
}

.bank1-logo h1 {
    font-size: 44px;
    margin-left: 40px;
    margin-top: 30px;
}

.bank1-logo h3 {
    font-size: 19px;
    margin-top: 20px;
    margin-left: 40px;
}

.mid-left-img img {
    float: left;
    margin-top: 100px;
    width: 500px;
    margin-left: 40px;
}


/* ---------------- paytm bank 2----------------- */


.right-container {
    margin-left: 80px;
    background-color:#f9f9f9;
    height: 700px;
    width: 550px;
    border-radius: 8px;
}

.bank2-logo img {
    margin-top: 62px;
    width: 200px;
    margin-left: 40px;
}

.bank2-logo h1 {
    font-size: 44px;
    margin-left: 40px;
    margin-top: 30px;
}

.bank2-logo h3 {
    font-size: 19px;
    margin-left: 40px;
    margin-top: 20px;
}

.mid-right-img img {
    float: left;
    margin-left: 40px;
    margin-top: 100px;
    width: 500px;
}


/* ------------------financial service by paytm ---------------------- */
.mid8-container {
    margin-top: 130px;
    background-color:#f9f9f9;
    height: 750px;
}

.ppb-container {
    display: flex;

}

.mid8-container h1 {
    padding-top: 130px;
    margin-left: 40px;
    font-size: 50px;
}

.ppb-sec img {
    width: 210px;
    margin-left: 40px;
    margin-top: 60px;
}

.ppb-sec h1 {
    padding-top: 50px;
}

.learn-more2 {
    margin-left: 40px;
}

.ppb-sec h3 {
    padding-top: 30px;
    margin-left: 40px;
    font-size: 22px;
}

.mid8-right-img img {
    width: 500px;
    margin-left: 170px;
}

.more {
    background-color: #553dde;
    color: #FFF;
    margin-top: 40px;
    margin-left: 40px;
    width: 120px;
    height: 50px;
    border-radius: 50px;
}

.more a {
    color: #fff;
}

.more a:hover {
    background-color: #fff;
}

.more:hover {
    background-color: rgb(141, 27, 240);
    color: rgb(243, 241, 247);
    width: 140px;
}

/* --------------------paytm money-------------------- */


.mid9-container {
    margin-top: 120px;
    background-image: url(/images/pmoneybgimg.png);
    height: 750px;
}

.paytm-money-sec {
    display: flex;
}

.mid9-left-img img {
    width: 500px;
    padding-top: 100px;
}

.p-money-sec img {
    width: 170px;
    padding-left: 160px;
    padding-top: 90px;
}

.p-money-sec h1 {
    padding-left: 160px;
    padding-top: 30px;
    font-size: 38px;
}

.p-money-sec h3 {
    padding-left: 160px;
    padding-top: 20px;
    font-size: 22px;
}


.more1 {
    background-color: #553dde;
    color: #FFF;
    margin-top: 40px;
    margin-left: 160px;
    width: 120px;
    height: 50px;
    border-radius: 50px;
}

.more1 a {
    color: #fff;
}

.more1 a:hover {
    background-color: #fff;
}

.more1:hover {
    background-color: rgb(141, 27, 240);
    color: rgb(243, 241, 247);
    width: 140px;
}


/* -------------------social link and download link------------------- */


.download-section{
    display: flex;
    margin-top: 140px;
    background-color:#f9f9f9;
    height: 150px;
    border-bottom-style: dotted;
}

.download-section h1{
    font-size: 24px;
    margin-top: 47px;
    margin-right: 20px;
    margin-left: 15px;
}

.download-section img{
    margin-top: 51px;
    margin-left: 7px;
}

.social-link{
    display: flex;
    margin-left: 500px;
    margin-top: 20px;
}
/* -------------------copyright section----------------- */
.copyright-sec h5{
    height: 40px;
    margin-top: 16px;
    text-align: center;
}

/* -----------------END-here------------- */